/* Just an example to have a visual structure */
body {
    font-family: Arial, sans-serif;
}
#navbar, #footer {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
}
#hero {
    background: url('https://picsum.photos/1280/720') center/cover;
    text-align: center;
    padding: 100px 20px;
}
.new-section {
    background-color: #6495ed;
    text-align: center;
    padding: 32px 0;
}
.new-section .cta-button {
    background-color: white;
    color: #6495ed;
    border: 4px solid #6495ed;
    padding: 10px 20px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}
